*{
    margin: 0;
    padding: 0;
}

.socialmediabar{
    background-color: #EFF5FF;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 3rem;
}

.socialmedialist{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.smi{
    height: 30;
    
}

.navbar{
    height: 4rem;
    outline: auto;
    outline-color: #c2c6cf;
    display: flex;
    align-items: center;
    padding: 0 3rem; 
    justify-content: space-between;
}

.ins_logo{
    height: 2rem;
}

.navbar ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    
}

.navbar ul li a{
    text-decoration: none;
    font-family: 'Inter';
    color: #737373;
    
}

/* searhc bar */ 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 250px;
   }
   
   .input {
    font-family: 'Inter';
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 2rem;
    padding-left: 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(1, 113, 187,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(0 67 111 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 13rem;
    fill: #000000;
    width: 1rem;
    height: 1rem;
   }   

/* Dropdown Menu */
.select {
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
  }
  
  .selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
  }
  
  .select:hover > .options {
    opacity: 1;
    top: 0;
  }
  
  .select:hover > .selected .arrow {
    transform: rotate(0deg);
  }
  
  .option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
  }
  .option:hover {
    background-color: #323741;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }
  
  .options input[type="radio"]:checked + label {
    display: none;
  }
  
  .options input[type="radio"]#all:checked + label {
    display: none;
  }
  
  .select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
  }
  .select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
  }
  .select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
  }
  .select:has(.options input[type="radio"]#option-3:checked) .selected::before {
    content: attr(data-three);
  }
  