@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    width: 100%;
    /* height: 255%; */
    position: absolute;
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}
  .Titulo{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    color: black;

  }

  .banner{
    width: auto;
    height: 30rem;
    position: relative;
    background-image: url(../images/Maskgroup.png);
    background-position: 20rem;
    background-position-y: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

  .blue{
    color: #0171bb;
    text-shadow: 2px 2px 2px #000;
  }

  .pushable {
    position: relative;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex; /* Hacemos el botón un contenedor flex */
    align-items: center; /* Alineamos verticalmente el contenido */
    justify-content: center; /* Alineamos horizontalmente el contenido */
    height: 50px; /* Definimos una altura fija para todos los botones */
    width: 26%; /* Hace que cada botón ocupe el mismo espacio disponible */
    min-width: 150px; /* Establecemos un tamaño mínimo */
  }
  
  .pushable .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    filter: blur(2px);
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, hsl(204, 39%, 39%) 0%, hsl(204, 39%, 49%) 8%, hsl(204, 39%, 39%) 92%, hsl(204, 39%, 29%) 100%);
  }
  
  .pushable .front {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    background: hsl(204, 99%, 37%);
    width: 100%; /* Asegura que el .front ocupe todo el tamaño del botón */
    height: 100%; /* Asegura que el .front ocupe toda la altura del botón */
    padding: 0 20px; /* Ajuste del tamaño del texto, manteniendo el padding */
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1rem;
    display: flex; /* Flexbox para centrar el texto dentro del .front */
    align-items: center;
    justify-content: center;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }


/* Estilo para el contenedor 
.card {
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid #0171bb;
  border-radius: 17px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  padding: 1rem;
  margin: 2rem 0;
}*/
.card1 {
  box-sizing: border-box;
  width: auto;
  max-height: 55.5rem;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid #0171bb;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 2rem;
  margin: 3rem 2rem ;
  overflow-y: auto;
}

/* .card1:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card1:active {
  transform: scale(0.95) rotateZ(1.7deg);
} */

.card1 h2 {
  font-size: 1.5rem;
  color: #737373;
}
.card1 ul li{
  color: #000;
  font-weight: 400;
}
.link_ico {
  width: 1.1rem;
}

.links a {
  color: #0171BB;
  font-weight: 400;
  margin-left: 0.5rem;
}

.card_text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}







.accordion-body {
  font-family: 'Inter', sans-serif !important;  /* Cambia la fuente también para el contenido dentro del acordeón */
  font-weight: 400 !important;
}


.accordion-button:focus {
  box-shadow: none !important; /* Quita el borde de enfoque azul */
  outline: none !important; /* Elimina cualquier otro borde de enfoque */
  
}

.accordion-body {
  background-color: transparent !important; /* Fondo transparente en el contenido */
}

.accordion-item {
  background-color: transparent !important; /* Fondo transparente para cada item */
  border: none; /* Opcional: elimina los bordes entre items */
}

.accordion-header {
  background-color: transparent !important; /* Fondo transparente en los encabezados */
  border-bottom: #aeaeae 0.5px solid;
}



.accordion-button {
  font-family: 'Inter', sans-serif !important;  /* Cambia la fuente aquí */
  color: #000 !important;
  background-color: transparent !important; /* Fondo transparente */
  display: flex;                /* Usamos flexbox para organizar los elementos */
  justify-content: flex-start;  /* Alineamos el contenido a la izquierda */
  padding-left: 1.5rem;         /* Ajustamos el padding de la izquierda */
  padding-right: 1rem;          /* Ajustamos el padding de la derecha */
  position: relative;           /* Necesario para mover la flecha */
}

/* Mover la flecha a la izquierda */
.accordion-button::after {

  position: absolute;           /* Posicionamos la flecha de manera absoluta */
  left: 0;                      /* Colocamos la flecha en el borde izquierdo */
  margin-left: 0.5rem;          /* Ajustamos el espacio de la flecha desde el borde izquierdo */
  margin-right: 0;              /* Eliminamos el margen derecho */
}

/* El texto debe permanecer a la derecha de la flecha */
.accordion-button span {
  margin-left: 0.7rem;           /* Aseguramos un espacio entre la flecha y el texto */
  flex-grow: 1;                  /* Aseguramos que el texto se expanda */
}



footer{
  background-color: #0171bb;
}

.colFooter{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 11px;
  font-family: 'Inter', sans-serif !important;
  color: white;

}
.colFooter h3{
  font-weight: 700;
}
.colFooter p{
  font-weight: 200;
}
.colFooter a{
  color: white;
  font-weight: 200;
}

.modal-backdrop.show {
  background-color: rgba(255, 255, 255, 10); /* Fondo semi-transparente */
  backdrop-filter: blur(500px); /* Nivel de difuminado */
}

.front{
  text-decoration: none;
}